@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', sans-serif;
  list-style: none;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 240px;
  background-color: #272d3467;
  z-index: 1;
}

.logo {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.logo-img {
  width: 40%;
  height: auto;
}

.logo-text {
  color: #fff;
  font-size: 2rem;
}

.logo-text:hover {
  color: #cdba6d;
}

nav {
  width: 60%;
}

ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

li:hover{
  color: #cdba6d;
  cursor: pointer;
}

#search-icon {
  color: #fff;
  cursor: pointer;
}

#search-icon:hover {
  color: #cdba6d;
}

#menu-icon {
  display: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.modal {
  width: 100%;
  height: 130vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.home-container {
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 130vh;
  display: flex;
  justify-content: center;
}

.presentation-container {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin-top: 150px;
  padding: 10px;
  color: #fff;
  z-index: 1;
}

.presentation-container h3 {
  letter-spacing: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.presentation-container h1 {
  font-size: 5rem;
  text-align: center;
}

.presentation-container span {
  color: #c8b050;
}

.presentation-container p {
  text-align: center;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.presentation-container button {
  width: 150px;
  height: 50px;
  background-color: #cdba6d;
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border: 2px solid #c8b050;
  font-size: 1rem;
  cursor: pointer;
}

.presentation-container button:hover {
  background-color: transparent;
  color: #fff;
}

.destaks-container {
  width: 100%;
  height: 300px;
  padding: 0 100px;
  position: absolute;
  top: 115vh;
}

.destaks-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  color: #fff;
  padding: 0 110px;
}

#square-1 {
  background-color: #353e47;
}

#square-1 i {
  color: #c8b050;
  font-size: 3rem;
}

.destaks-span {
  font-size: 1.5rem;
  font-weight: bold;
}

.destaks-paragraph {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

#destaks-span-gold {
  color: #c8b050;
}

#square-2 {
  background-color:  #323a43;
}

#gavel-icon {
  font-size: 3rem;
}

#square-3 {
  background-color:  #2e353d;
  padding: 0 100px;
}

#square-3 i {
  color: #c8b050;
  font-size: 3rem;
}

.divider {
  border: none;
  border-top: 3px solid #c8b050;
  border-radius: 20px;
  margin: 10px 0;
  width: 45%;
}

#divider-white {
  border-top: 3px solid #fff;
}

.welcome-container {
  width: 100%;
  height: 140vh;
}

.signature-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.signature-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
}

.signature-text {
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  padding: 0 10px;
  margin-bottom: 90px;
}

.signature-title {
  width: 100%;
}

.signature-title h1 {
  font-size: 2.5rem;
  color: #cdba6d;
}

.signature-title h5 {
  font-weight: 300;
  letter-spacing: 3px;
}

.signature-text span {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.signature-text p {
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}

.signature-button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.signature-button-container button {
  width: 150px;
  height: 50px;
  background-color: #cdba6d;
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border: 2px solid #c8b050;
  font-size: 1rem;
  cursor: pointer;
}

.signature-button-container button:hover {
  background-color: #fff;
}

.signature-button-container img {
  width: 100px;
  height: auto;
}

.attorney-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: end;
}

.attorney-img {
  margin-left: 50px;
}

.our-services-container {
  width: 100%;
  height: 110vh;
  background-color: #323a43;
  display: flex;
  flex-direction: column;
}

.our-services-title {
  height: 30%;
  width: 100%;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.our-services-title h2 {
  margin: 0;
  font-size: 1.3rem;
  letter-spacing: 6px;
  font-weight: 500;
  color: #fff;
}

.our-services-title h1 {
  margin: 0;
  font-size: 3.5rem;
  color: #c8b050;
}

#our-services-divider {
  width: 5%;
}

.our-services-content {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 120px;
  margin-top: 30px;
}

.our-services-square {
  display: flex;
  width: 100%;
  height: 200px;
}

.our-services-icon {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.our-services-text {
  width: 85%;
  height: 100%;
  padding: 20px 40px 0 10px;
}

#service-icon {
  color: #c8b050;
  font-size: 3rem;
}

#service-icon:hover {
  color: #fff;
  cursor: pointer;
}

.service-title {
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.service-title:hover {
  color: #c8b050;
  cursor: pointer;
}

.service-description {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
}

.testimonials-container {
  width: 100%;
  height: 150vh;
  display: flex;
  flex-direction: column;
}

.testimonials-title {
  height: 30%;
  width: 100%;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonials-title h2 {
  color: #5c6f87;
  margin: 0;
  font-size: 1.3rem;
  letter-spacing: 6px;
  font-weight: 500;
}

.testimonials-title h1 {
  margin: 0;
  font-size: 3.5rem;
  color: #c8b050;
}

.testimonials-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 600px;
  padding: 0 120px;
}

.cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  padding: 10px 40px 40px 40px;
  background-color: #f8f8f9;
  box-shadow: -1px 5px 7px 0 rgba(0, 0, 0, 0.15);
}

.testimonial-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
}

#testimony-icon {
  font-size: 3rem;
  color: #c8b050;
  opacity: 0.5;
}

.testimony {
  text-align: center;
  color: #5c6f87;
  font-size: 1.2rem;
  font-style: italic;
  font-family: 'Poppins', sans-serif;
}

.testimonial-name {
  font-size: 1.5rem;
  color: #2e353d;
}

.testimonial-profession {
  font-size: 1.3rem;
  color: #c8b050;
  font-family: 'Poppins', sans-serif;
}

#testimonial-1 {
  background-image: url('./assets/testimonials01.jpg');
}

#testimonial-2 {
  background-image: url('./assets/testimonials02.jpg');
}

#testimonial-3 {
  background-image: url('./assets/testimonials03.jpg');
}

.form-container {
  width: 100%;
  height: 150vh;
  display: flex;
}

.form-img {
  background-image: url('./assets/banner1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  width: 50%;
  height: 100%;
}

.form-content {
  background-color: #323a43;
  width: 50%;
  height: 100%;
  padding: 120px 80px 60px 80px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.form-title {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-title h2 {
  margin: 0;
  font-size: 1.3rem;
  letter-spacing: 6px;
  font-weight: 500;
  color: #fff;
}

.form-title h1 {
  margin: 0;
  font-size: 3.5rem;
  color: #c8b050;
}

#form-divider {
  width: 15%;
  margin-top: 20px;
}

.form-description {
  text-align: justify;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
}

.form-inputs {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.first-inputs {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.input-container {
  display: flex;
  align-items: center;
  height: 50px;
  width: 49%;
}

.user-input {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  color: #2e353d;
  padding: 0 10px;
  border: none;
  outline: none;
}

#user-phone-input {
  margin-top: 10px;
  width: 100%;
}

#user-message-input {
  width: 100%;
  height: 200px;
  margin-top: 10px;
}

#user-message {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  resize: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  color: #2e353d;
  padding: 10px;
  border: none;
  outline: none;
}

.submit-button {
  width: 175px;
  height: 60px;
  background-color: #c8b050;
  color: #2e353d;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border: 2px solid #cdba6d;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 60px;
}

.submit-button:hover {
  background-color: transparent;
  color: #fff;
}

footer {
  width: 100%;
  height: 100vh;
  background-color: #323a43;
  padding: 220px 140px 80px 140px;
}

.footer-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.about-text {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 70px;
}

.about-text h2 {
  color: #c8b050;
  margin: 0;
  font-size: 1rem;
  letter-spacing: 6px;
  font-weight: 700;
}

.about-text p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
  line-height: 2;
}

.social-media {
  display: flex;
  column-gap: 20px;
}

.social-media i {
  font-size: 1.3rem;
  color: #fff;
  cursor: pointer;
}

#facebook-icon:hover {
  color: #007bff;
}

#telegram-icon:hover {
  color: #17a2b8;
}

#linkedin-icon:hover {
  color: #007bff;
}

#instagram-icon:hover {
  color: #e83e8c;
}

#youtube-icon:hover {
  color: #dc3545;
}

.theme-posts {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.theme-posts h2 {
  color: #c8b050;
  margin: 0;
  font-size: 1rem;
  letter-spacing: 6px;
  font-weight: 700;
  margin-bottom: 40px;
}

.posts {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  display: flex;
}

.post-img {
  width: 20%;
  height: auto;
}

.post-content {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 80px 0 10px;
}

.post-content p {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
}

.post-content p:hover {
  color: #c8b050;
}

.post-date {
  display: flex;
  width: 100%;
  align-items: center;
  column-gap: 15px;
}

#clock-icon {
  color: #c8b050;
}

.post-date span {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 1.2rem;
}

.copyright {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright span {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 6px;
  color: #2e353d;
  font-size: 0.9rem;
}

@media (max-width: 1440px) {

  .content {
    padding: 0 90px;
  }
  
  #square-3 {
    padding: 0 60px;
  }

  .testimonials-cards-container {
    padding: 0 100px;
  }

  .post-content {
    padding: 0 55px 0 10px;
  }
}

@media (max-width: 1280px) {
  header {
    padding: 0 40px;
  }

  .destaks-container {
    padding: 0 60px;
  }

  .testimonials-cards-container {
    padding: 0 110px;
  }

  footer {
    padding: 220px 60px 80px 60px;
  }
}

@media (max-width: 1024px) {

  .destaks-container {
    padding: 0 20px;
  }

  .our-services-content {
    padding: 0 40px;
  }

  .content {
    padding: 0 60px;
  }
  
  #square-3 {
    padding: 0 40px;
  }

  .testimonials-cards-container {
    padding: 0 50px;
  }

  .form-content {
    padding: 120px 20px 60px 20px
  }

  footer {
    padding: 220px 30px 80px 30px;
  }

  .theme-posts {
    width: 45%;
  }

  .post-content {
    padding: 0 0 0 10px;
  }

}

@media(max-width: 835px) {

  nav {
    display: none;
  }

  #menu-icon {
    display: block;
  }

  .home-container {
    background-position: 70% 50%;
    align-items: center;
  }

  .presentation-container {
    width: 90%;
    margin-top: 0;
  }

  .destaks-container {
    padding: 0 40px;
    top: 150vh;
  }
  
  .destaks-content {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
  }
  
  .content {
    height: 300px;
    row-gap: 10px;
    padding: 0 20px;
  }
  
  .welcome-container {
    height: 160vh;
  }

  .signature-text {
    width: 95%;
    height: 30%;
    row-gap: 30px;
    padding: 0 10px;
  }

  .attorney-img {
    margin-left: 10px;
    width: 90%;
  }

  .our-services-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonials-container {
    height: 100vh;
  }

  .testimonials-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #card-1 {
    display: none;
  }

  #card-2 {
    display: none;
  }

  .form-container {
    flex-direction: column;
  }

  .form-img {
    height: 30%;
    width: 100%;
  }

  .form-content {
    width: 100%;
    height: 70%;
    padding: 120px 40px 60px 40px;
    row-gap: 30px;
  }

  footer {
    padding: 100px 40px 0 40px;
    height: 90vh;
  }

  .footer-content {
    flex-direction: column;
    justify-content: center;
  }

  .about-text {
    width: 100%;
    height: 40%;
  }

  .theme-posts {
    width: 100%;
    height: 45%;
  }

  .post-content {
    padding: 0 140px 0 10px;
  }

}

@media (max-width: 768px) {

  .welcome-container {
    height: 180vh;
  }

  .attorney-img {
    margin-left: 0;
  }
  .attorney-container {
    width: 55%;
  }

  .signature-content {
    width: 45%;
  }

  footer {
    height: 110vh;
  }
}

@media (max-width: 600px) {

  .welcome-container {
    height: 240vh;
  }

  .signature-container {
    flex-direction: column;
    justify-content: end;
  }

  .signature-content {
    width: 95%;
    height: 25%;
    justify-content: end;
  }

  .attorney-container {
    width: 95%;
    height: 30%;
    justify-content: center;
  }

  .attorney-img {
    width: auto;
  }
  
  .our-services-content {
    padding: 0 10px 0 20px;
  }

  .our-services-text {
    width: 95%;
    padding: 20px 10px 0 10px;
  }

}

@media (max-width: 415px) {

  header {
    padding: 0 10px;
  }

  .home-container {
    background-position: 70% 50%;
    display: flex;
    justify-content: center;
  }
  
  .presentation-container {
    width: 100%;
    height: 60%;
  }
  
  .presentation-container h3 {
    text-align: center
  }
  
  .presentation-container h1 {
    font-size: 3rem;
  }

  .destaks-container {
    padding: 0 10px;
  }

  .welcome-container {
   height: 2050px;
   align-items: end;
  }

  .signature-content {
    height: 600px;
  }

  .signature-text {
    width: 95%;
    height: 90%;
    row-gap: 10px;
    margin-bottom: 10px;
  }

  .attorney-container {
    height: 400px;
  }

  .attorney-img {
    margin-left: 10px;
    width: 90%;
    height: 390px;
  }

  .our-services-container {
    height: 1550px;
  }

  .our-services-title {
    margin-top: 120px;
    padding-top: 20px;
    height: 15%;
  }

  .our-services-title h1 {
    text-align: center;
  }

  #our-services-divider {
    width: 30%;
  }

  .our-services-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .testimonials-container {
    height: 130vh;
  }

  .testimonials-cards-container {
    padding: 0 5px;
  }

  .testimonials-title h1 {
    font-size: 2.5rem;
  }

  .cards {
    margin-bottom: 20px;
  }

  .form-container {
    height: 200vh;
  }

  .form-content {
    padding: 120px 10px 60px 10px;
  }

  .form-title h2 {
    font-size: 1rem;
  }

  .form-title h1 {
    font-size: 2rem;
  }

  footer {
    padding: 50px 10px 0 10px;
    height: 150vh;
  }

  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-text {
    width: 100%;
    height: 40%;
    row-gap: 20px;
  }

  .theme-posts {
    width: 100%;
    height: 45%;
  }

  .post-content {
    padding: 0 10px;
  }

}